// .showcase {
//   .showcase-text {
//     padding: 3rem;
//     text-align:center;
//   }
//   .showcase-img {
//     min-height: 30rem;
//     background-size: cover;
//   }
//   @media (min-width: 768px) {
//     .showcase-text {
//       padding: 7rem;
//     }
//   }
// }

.abcdefg {
  color:red !important;
}

.carousel-item > img {
  max-height: 500px;
  width: 768px;
  margin: 50px;
}

#myCarousel{
  display: block;
  margin-left:auto;
  margin-right: auto;
}

.b2bsection {
  background-color: $primary;
  color:$white;
}
